body{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column wrap;
    background-color: black;
    margin: 0px;
}

/* currently unused header */

header{
    display: flex;
    background: black;
}

/* what appears on the top of the page */

#homeStrip{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: solid 2px white;
    flex-direction: column;
}

/* buttons on home page */

.button{
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

button:hover{
    background-color: rgba(255,255,255,0.5);
    /* filter: invert(100%); */
    color: white;
    border: solid 2px white;
}

/* each strip on home page */

.strip{
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text{
    font-weight: 300;
}

/* about strip on home page */

#aboutStrip{
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        ),
        url(assets/ocean.jpg);
}

/* interests strip on home page */

#interestsStrip{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: flex-start;
    background-image: 
        linear-gradient(
            to right,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        ),
        url(assets/football-field.jpg);
}

/* projects strip on home page */

#projectsStrip{
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        ),
        url(assets/binary-code.jpg);
}

/* large section containing textbox in about page */

.aboutWriteUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/cloudySky.png);
    border-bottom: solid 2px white;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

/* second large section containing textbox in about page */

.aboutWriteUp2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/canyon.jpeg);
    border-bottom: solid 2px white;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

/* list text in about page */

.listText{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: white;
}

/* large section containing textbox in interests page */

.interestsWriteUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/nameplate2.jpg);
    border-bottom: solid 2px white;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

/* second large section containing textbox in interests page */

.interestsWriteUp2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/books.jpg);
    border-bottom: solid 2px white;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

/* large section containing textbox in projects page */

.projectsWriteUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/chip.jpg);
    border-bottom: solid 2px white;
}

/* large section in which project cards are stored */

.projectsCompilation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(assets/codeComputer.jpg);
    border-bottom: solid 2px white;
}

/* smaller section where projects cards are stored */

.projectsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* background-color: rgba(0,0,0,0.5) */
}

/* cards for projects */

.projectsCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.projectsTitle{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.projectsText{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
}

/* all textboxes */

.textWriteUp{
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    /* height: 90%; */
    width: 90%;
    line-height: 1.6;
    text-indent: 30px;
}

/* all text in subpage textboxes */

.pageText{
    font-weight: 300;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left:30px;
    padding-right: 30px;
}

/* video in interests page */

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px white;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/football-field.jpg);
}

/* contact strip at bottom of page */

#contactStrip{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* styling for "Contact Me" */

.contactTitle{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactText{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
}

/* profile picture */

.pfp{
    border-radius: 50%;
    border: solid 2px white;
}

/* styling for social media icons */

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

i{
    margin: 10px;
    color: white;
}

i:link{
    color: white;
}

i:visited{
    color: white;
}

/* home icon */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* optional (unused) buffer */

.buffer{
    background-color: black;
    height: 100px;
    border-bottom: solid 2px white;
}