body{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column wrap;
    background-color: black;
}

header{
    display: flex;
    background: black;
}

#homeStrip{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: solid 2px white;
}

.button{
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

button:hover{
    background-color: rgba(255,255,255,0.5);
    /* filter: invert(100%); */
    color: white;
    border: solid 2px white;
}

.strip{
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text{
    font-weight: 300;
}

#aboutStrip{
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        ),
        url(assets/ocean.jpg);
}

#interestsStrip{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: flex-start;
    background-image: 
        linear-gradient(
            to right,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        ),
        url(assets/football-field.jpg);
}

#projectsStrip{
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        ),
        url(assets/binary-code.jpg);
}

.aboutWriteUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/ocean.jpg);
    border-bottom: solid 1px white;
}

.interestsWriteUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/nameplate2.jpg);
    border-bottom: solid 2px white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.interestsWriteUp2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/books.jpg);
    border-bottom: solid 2px white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.projectsWriteUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/binary-code.jpg);
    border-bottom: solid 2px white;
}

.textWriteUp{
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    /* height: 90%; */
    width: 90%;
    line-height: 1.6;
    text-indent: 30px;
}

.pageText{
    font-weight: 300;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left:30px;
    padding-right: 30px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px white;
    background-image: 
        linear-gradient(
            to left,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url(assets/football-field.jpg);
}